#btn {
    width: 90px;
    height: 40px;
    background: royalblue;
    border-radius: 30%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    margin: 0 auto;
}

#twitter-btn {
    width: 90px;
    height: 40px;
    background: #1DA1F2;
    border-radius: 30%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    margin: 4px auto;
}

#twitter-btn>a {
    color: #fff;
    text-decoration: none;
}

.start-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    margin: 4px auto;
}

.start-btn-normal {
    background: cornflowerblue;
}

.start-btn-easy {
    background: green;
}

.start-btn-hard {
    background: orangered;
}

#btn:hover,
.start-btn:hover {
    opacity: 0.8;
}

#question {
    margin: 40px 0;
    text-align: center;
}

#question span:hover {
    border: 1px solid orangered;
    cursor: pointer;
}

h1,
h2,
h5,
h6 {
    text-align: center;
}

h6>span {
    margin: 0 8px;
}

h6>a {
    bottom: 0;
    text-decoration: none;
}